<div class="change-password-page">

  <main class="password-content app-container">

    <div class="password-inner">

      <section class="page-header">

        <span class="page-label">
          HESAP GÜVENLİĞİ
        </span>

        <h1>
          Şifre Değiştir
        </h1>

        <p>
          Mevcut şifrenizi doğrulayarak hesabınız için yeni bir şifre belirleyebilirsiniz.
        </p>

      </section>


      @if (errorMessage()) {

        <div class="message-box error">
          {{ errorMessage() }}
        </div>

      }


      @if (successMessage()) {

        <div class="message-box success">
          {{ successMessage() }}
        </div>

      }


      <section class="password-card">

        <div class="section-header">

          <h2>
            Şifre Bilgileri
          </h2>

          <p>
            Yeni şifrenizi iki kez girerek değişikliği doğrulayın.
          </p>

        </div>


        <form
          class="password-form"
          (ngSubmit)="changePassword()"
        >

          <div class="form-field">

            <label for="currentPassword">
              Mevcut Şifre
            </label>

            <input
              id="currentPassword"
              name="currentPassword"
              type="password"
              [(ngModel)]="form.currentPassword"
              [disabled]="saving()"
              autocomplete="current-password"
              required
            />

          </div>


          <div class="form-field">

            <label for="newPassword">
              Yeni Şifre
            </label>

            <input
              id="newPassword"
              name="newPassword"
              type="password"
              [(ngModel)]="form.newPassword"
              [disabled]="saving()"
              autocomplete="new-password"
              required
            />

          </div>


          <div class="form-field">

            <label for="newPasswordConfirm">
              Yeni Şifre Tekrar
            </label>

            <input
              id="newPasswordConfirm"
              name="newPasswordConfirm"
              type="password"
              [(ngModel)]="form.newPasswordConfirm"
              [disabled]="saving()"
              autocomplete="new-password"
              required
            />

          </div>


          <div class="form-actions">

            <button
              type="button"
              class="cancel-button"
              [disabled]="saving()"
              (click)="goBack()"
            >
              İptal
            </button>


            <button
              type="submit"
              class="save-button"
              [disabled]="saving()"
            >
              {{
                saving()
                  ? 'Değiştiriliyor...'
                  : 'Şifreyi Değiştir'
              }}
            </button>

          </div>

        </form>

      </section>

    </div>

  </main>

</div>