<div class="forgot-page">

  <main class="forgot-card">

    <div class="brand">

      <div class="brand-icon">
        <span class="column-icon">🏛</span>
      </div>

      <h1>
        Şifremi Unuttum
      </h1>

      <p>
        Philadelphia Kazısı
      </p>

    </div>


    <div class="description">
      Hesabınıza kayıtlı e-posta adresinizi giriniz.
      Şifrenizi yenileyebilmeniz için size bir bağlantı göndereceğiz.
    </div>


    <form
      class="forgot-form"
      (ngSubmit)="sendResetLink()"
    >

      <div class="form-group">

        <label for="email">
          E-posta Adresi
        </label>

        <input
          id="email"
          name="email"
          type="email"
          [(ngModel)]="email"
          [disabled]="loading()"
          placeholder="E-posta adresinizi giriniz..."
          autocomplete="email"
        />

      </div>


      @if (errorMessage()) {

        <div class="error-message">
          {{ errorMessage() }}
        </div>

      }


      @if (successMessage()) {

        <div class="success-message">
          {{ successMessage() }}
        </div>

      }


      <button
        class="send-button"
        type="submit"
        [disabled]="loading()"
      >
        {{
          loading()
            ? 'Gönderiliyor...'
            : 'SIFIRLAMA BAĞLANTISI GÖNDER'
        }}
      </button>

    </form>


    <div class="back-login">

      <a routerLink="/login">
        ← Giriş ekranına dön
      </a>

    </div>


    <footer>
      © 2026 Philadelphia Buluntu Sistemi
    </footer>

  </main>

</div>